:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #555555;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --border-radius: 0.8rem;
  --border-color: rgba(241, 241, 241, 1); 

  --nav-background: #CCE5E2;

  --main-content-background: rgba(250, 250, 250, 1);

  --container-background: white;
  --active-list-item: #EAEAEA;

  --button-color: rgba(242, 242, 242, 1);
  --button-color-hover: rgb(200, 197, 197);
  --button-padding: 0.8rem 1.6rem;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  margin: 0;
  min-height: 100vh;
}

#app {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  padding: var(--button-padding);
  border: none;
  border-radius: 0.2rem;
  background: var(--button-color);
}

button:hover {
  cursor: pointer;
  background: var(--button-color-hover);
}
